body {
    background-image: linear-gradient(to right bottom, #3d0a0a, #752f18, #a75f18, #cd970e, #e1d718);
    background-image: linear-gradient(to left bottom, #400658, #640d7b, #8c129f, #b813c2, #e70ce4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bi-person-circle {
    font-size: 10rem;
}

.nombre_usuario {
    font-size: 3rem;
}

form {
    /* width: 70%;
    height: 320px; */
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contenedor_usuario {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.c-datos {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to left bottom, #22032e, #360842, #4d0c57, #660d6b, #810b7f);
    background-repeat: no-repeat;
}

.btn:hover {
    color: white;
}